<h1>Links To Team Wikis</h1>

<div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Team</th>
              <th>Link</th>
              <th colspan="10"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td> Team Einstein </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133_spring2015_gp1">Go</a>
              </td>
            </tr>
            <tr>
              <td> Team Turing </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133_spring2015_gp2">Go</a>
              </td>
            </tr>
            <tr>
              <td> Team Copernicus </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133_spring2015_gp3">Go</a>
              </td>
            </tr>
            <tr>
              <td> Team Heisenberg </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133_spring2015_gp4">Go</a>
              </td>
            </tr>
            <tr>
              <td> Team Faraday </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133_spring2015_gp5">Go</a>
              </td>
            </tr>
            <tr>
              <td> Team Chandrasekhar </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133_spring2015_gp6">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Archimedes </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133_spring2015_gp7">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Pythagoras </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133_spring2015_gp8">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Pascal </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133_spring2015_gp9">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Ramanujan </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/133gp10">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Fossey </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/133gp2">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Curie </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/133gp3">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Tesla </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/133gp4">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Murray </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/133gp5">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Whiting </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/133gp6">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Nightingale </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/133gp7">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Wu </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/133gp8">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Hawking </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/133gp9">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Oppenheimer </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133gp1">Go</a>
              </td>
            </tr>
             <tr>
              <td> Team Edison </td>
              <td>
              <a href="http://iceland.cs.brandeis.edu/cs133gp2">Go</a>
              </td>
            </tr>




          </tbody>
        </table>
      </div>
